.imageUpload {
    display : flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border : 1px solid lightgray;
    padding : 20px;
    /* position: fixed; */
    /* bottom: 0;
    z-index: 1; */

}

.imageUpload_progress {
    width: 100%;
    
}